.main{
	width:100%;
	height:auto;
	overflow-x: auto;
	overflow-y: hidden;
	white-space: nowrap;
}
.menu{
	width: 10000px;
	margin-bottom: 20px;
	margin-top: 20px;
	display: inline;
}

.menu .button{
	-webkit-transition: all 0.3s ease;   transition: all 0.3s ease;
	cursor: pointer;
	display: inline-block;
	padding: 20px 10px;
	color: #000;
	font-family: sans-serif;
	font-weight: lighter;
	margin-right: 10px;
	margin-left: 10px;
	margin-bottom: 10px;
	background-color: transparent;
	border: 1px solid #e9e9e9;
	border-radius: 15px;
}
.menu .button.selected,
.menu .button:hover
{
	background-color: #b4ff9d;
}

/**/